.sliderWrapper {
  box-shadow: 1px 1px 14px -4px rgba(0, 0, 0, 0.75);
  text-align: center;
  max-height: 100%;
  margin: 0 auto;
  padding: 1rem;
  margin: 1rem;
}
.imgBlock {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
}
.imgBlock > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sliderLink:hover {
  color: rgb(34, 180, 132);
  text-decoration: underline;
  text-decoration-color: aquamarine;
  transition: all 0.5s linear;
}
