.sliderItem{
  box-shadow: -4px 2px 19px -10px rgb(0 0 0 / 52%);
  padding: 1rem;
}
.imgBlock{
  width: 200px;
  height: 200px;
}
.imgBlock>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.textBlock{

}