.nav{
  
}
.navWrapper{
  display: flex;
  justify-content:flex-start;
  flex-direction: row;

}
.navItem{
  list-style-type: none;
  padding-right: 1rem;
}
.navItem>a{
  font-size: 24px;
  font-weight: 700;

}
.navItem>a:hover{
  text-decoration: underline;
  text-decoration-color: aquamarine;
  transition: all .5s linear;
}
