.nav{
  
}
.navWrapper{
  display: flex;
  justify-content:space-between;
  flex-direction: row;

}
.navItem{
  list-style-type: none;
}
.navItem>a{
  font-size: 20px;
  font-weight: 400;

}
.navItem>a:hover{
  text-decoration: underline;
  text-decoration-color: aquamarine;
  transition: all .5s linear;
}
